body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f8f8;
}

#heart-container, #card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#heart-container {
  position: absolute;
}

.heart {
  font-size: 100px;
  cursor: pointer;
  color: red;
  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: none; /* Ocultar la tarjeta inicialmente */
}

h1 {
  color: #ff4d4d;
}

p {
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e60000;
}


